.DS_Store
*.mov
MinJee Hahm_Instagram_2026.pdf
PDF_SUMMARY.md
PLAN.md
img/creator_marketplace_recommendations_prototype.gif
img/creator_marketplace_recommendations_prototype.mp4
img/IG_Metaverse_Pets_Rewards.gif
img/Pets - Direction 2.gif
img/IG_Metaverse_CF_AvatarViewer_Pet.gif
img/IG pets with animation_rev.gif
img/IG_Metaverse_Pet_Fetch.gif
img/IG_Metaverse_AvatarGreenscreen.gif
img/IG_Pets_hero_Syncing experience.gif
